<% if(rdResults.length === 0){ %>
    <h5 class="text-center">Employee has no R&D competence...</h5>
<% } else { %>
    <table class="table table-light table-striped table-hover my-3">
        <caption class="text-end me-4"><i class="fas fa-check text-success"></i> - Competences at expected level <i class="fas fa-times text-danger ms-4"></i> - Competences to be developed</caption>
        <thead class="table-dark">
          <tr>
            <th scope="col"><strong>Technical Competence</strong></th>
            <th scope="col">Required Level</th>
            <th scope="col">Not Yet</th>
            <th scope="col">1-Learner</th>
            <th scope="col">2-Skilled</th>
            <th scope="col">3-Experienced</th>
            <th scope="col">4-Master</th>
            <th scope="col">Not Applicable</th>
            <th scope="col">Related actions</th>
          </tr>
        </thead>
        <tbody>
            <% rdResults.forEach( (comp) => { %>
                <tr>
                    <td><%= comp.name %></td>
                    <td class="border-end text-center"><%= comp.reqLevel %></td>
    
                    <% if(comp.rating == "0" && comp.rating == comp.reqLevel){ %> 
                        <td class=" text-center"><h6><i class="fas fa-check text-success"></i></h6></td>
                    <% } else if (comp.rating == "0" && comp.rating != comp.reqLevel){ %>
                        <td class=" text-center"><h6><i class="fas fa-times text-danger text-center"></i></h6></td>
                    <% } else { %>
                        <td></td>
                    <% } %>  
                    <% if(comp.rating == "1" && comp.rating == comp.reqLevel){ %> 
                        <td class=" text-center"><h6><i class="fas fa-check text-success"></i></h6></td>
                    <% } else if (comp.rating == "1" && comp.rating !== comp.reqLevel){ %>
                        <td class=" text-center"><h6><i class="fas fa-times text-danger"></i></h6></td>
                    <% } else { %>
                        <td></td>
                    <% } %>  
                    <% if(comp.rating == "2" && comp.rating == comp.reqLevel){ %> 
                        <td class=" text-center"><h6><i class="fas fa-check text-success"></i></h6></td>
                    <% } else if (comp.rating == "2" && comp.rating !== comp.reqLevel){ %>
                        <td class=" text-center"><h6><i class="fas fa-times text-danger"></i></h6></td>
                    <% } else { %>
                        <td></td>
                    <% } %>  
                    <% if(comp.rating == "3" && comp.rating == comp.reqLevel){ %> 
                        <td class=" text-center"><h6><i class="fas fa-check text-success"></i></h6></td>
                    <% } else if (comp.rating == "3" && comp.rating !== comp.reqLevel){ %>
                        <td class=" text-center"><h6><i class="fas fa-times text-danger"></i></h6></td>
                    <% } else { %>
                        <td></td>
                    <% } %>  
                    <% if(comp.rating == "4" && comp.rating == comp.reqLevel){ %> 
                        <td class=" text-center"><h6><i class="fas fa-check text-success"></i></h6></td>
                    <% } else if (comp.rating == "4" && comp.rating !== comp.reqLevel){ %>
                        <td class=" text-center"><h6><i class="fas fa-times text-danger"></i></h6></td>
                    <% } else { %>
                        <td></td>
                    <% } %>
    
                    <td class="border-start"></td>
                    <td></td>
                </tr>
            <% }) %> 
        </tbody>
      </table>
<% } %>  