<style>
.sideMenu {
    position: absolute;
    right: 0;
    z-index: 3;
    width: 30%;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.137);
}

#sideMenu {
        border-top: 4px solid rgb(133, 230, 43);
    }

.sideMenu button {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(28, 29, 29);
    border: none;
}

@media only screen and (max-width: 900px) {

    .sideMenu{
        bottom: 0;
        width: 100%;
    }
    #sideMenu {
        max-height: 40vh;
        overflow-y: scroll;
    }

}
</style>


<div class="sideMenu d-flex flex-column align-items-stretch bg-white">
    <div id="sideMenu" class="collapse list-group list-group-flush border-bottom scrollarea">
      
        <div class="list-group-item lh-tight text-dark list-group-item-action py-3" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">Some message</strong>
            <button><i class="fas fa-times"></i></button>
            </div>
            <div class="col-10 mb-1 small">This is some message</div>
        </div>
        <div class="list-group-item lh-tight text-dark list-group-item-action py-3" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">Some message</strong>
            <button><i class="fas fa-times"></i></button>
            </div>
            <div class="col-10 mb-1 small">This is some message</div>
        </div>
        <div class="list-group-item lh-tight text-dark list-group-item-action py-3" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">Some message</strong>
            <button><i class="fas fa-times"></i></button>
            </div>
            <div class="col-10 mb-1 small">This is some message</div>
        </div>
        <div class="list-group-item lh-tight text-dark list-group-item-action py-3" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">Some message</strong>
            <button><i class="fas fa-times"></i></button>
            </div>
            <div class="col-10 mb-1 small">This is some message</div>
        </div>
        <div class="list-group-item lh-tight text-dark list-group-item-action py-3" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">Some message</strong>
            <button><i class="fas fa-times"></i></button>
            </div>
            <div class="col-10 mb-1 small">This is some message</div>
        </div> 
        <div class="list-group-item lh-tight text-dark list-group-item-action py-3" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">Some message</strong>
            <button><i class="fas fa-times"></i></button>
            </div>
            <div class="col-10 mb-1 small">This is some message</div>
        </div> 
        <div class="list-group-item lh-tight text-dark list-group-item-action py-3" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">Some message</strong>
            <button><i class="fas fa-times"></i></button>
            </div>
            <div class="col-10 mb-1 small">This is some message</div>
        </div>     
    </div>
</div>

<!-- <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
    <div class="d-flex w-100 align-items-center justify-content-between">
      <strong class="mb-1">List group item heading</strong>
      <small class="text-muted">Tues</small>
    </div>
    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
  </a> -->



