<style>
.comp-manager {
    background-color: rgba(0, 0, 0, 0.048);
    border-radius: 5px;
    padding: 1%;
}
</style>

<div class="comp-manager row">
    <div class="col-12 px-3">
        <div class="row">
            <div class="col-3 my-2">
                <h5>Platform</h5>
            </div>
            <div class="col-9 my-2">
                <div class="row d-flex align-items-center my-1">
                    <h6 class="w-50">Competence 1</h6>
                    <select class="form-select w-50" aria-label="Default select example">
                        <option selected>Default</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="row d-flex align-items-center my-1">
                    <h6 class="w-50">Competence 2</h6>
                    <select class="form-select w-50" aria-label="Default select example">
                        <option selected>Default</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="col-12 px-3">
        <div class="row">
            <div class="col-3 my-2">
                <h5>Metier</h5>
            </div>
            <div class="col-9 my-2">
                <div class="row d-flex align-items-center my-1">
                    <h6 class="w-50">Competence 1</h6>
                    <select class="form-select w-50" aria-label="Default select example">
                        <option selected>Default</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="row d-flex align-items-center my-1">
                    <h6 class="w-50">Competence 2</h6>
                    <select class="form-select w-50" aria-label="Default select example">
                        <option selected>Default</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="row d-flex align-items-center my-1">
                    <h6 class="w-50">Competence 3</h6>
                    <select class="form-select w-50" aria-label="Default select example">
                        <option selected>Default</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="row d-flex align-items-center my-1">
                    <h6 class="w-50">Competence 4</h6>
                    <select class="form-select w-50" aria-label="Default select example">
                        <option selected>Default</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="col-12 px-3">
        <div class="row">
            <div class="col-3 my-2">
                <h5>Mandatory</h5>
            </div>
            <div class="col-9 my-2">
                <div class="row d-flex align-items-center my-1">
                    <h6 class="w-50">Competence 1</h6>
                    <select class="form-select w-50" aria-label="Default select example">
                        <option selected>Default</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>