<style>
    .bread-crumb a {
        text-decoration: none;
        font-weight: bold;
    }
    .bread-crumb li {
        color: rgb(127, 131, 133);
        font-weight: bold;
    }
    .bread-crumb {
        background-color: rgba(51, 132, 224, 0.253);
        border-radius: 200px;
        
    }
</style>


<div class="container-fluid container-md mt-2">
    <div class="row">
        <div id="path" class="col-12 col-sm-6 fs-6 bread-crumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-2">
                  <li class="breadcrumb-item"><a href="#">Menu</a></li>
                  <li class="breadcrumb-item" aria-current="page">System parameters SetUp</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

