<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <div class="row">
        <div class="col-4 my-2">
          <label for="firstName"><strong>First name</strong></label>
          <input name="firstName" id="firstName" class="form-control" placeholder="First name">
        </div>
        <div class="col-4 my-2">
          <label for="lastName"><strong>Last name</strong></label>
          <input name="lastName" id="lastName" class="form-control" placeholder="Last name">
        </div>
        <div class="col-4 my-2">
          <label for="psID"><strong>PS ID</strong></label>
          <input name="psID" id="psID" class="form-control" placeholder="PS ID">
        </div>
      </div>
      <div class="row">
        <div class="col-4 my-2">
          <label for="orgaloc"><strong>Orgaloc</strong></label>
          <input name="orgaloc" id="orgaloc" class="form-control" placeholder="Orgaloc">
        </div>
        <div class="col-4 my-2">
          <label for="location"><strong>Location</strong></label>
          <input name="location" id="location" class="form-control" placeholder="Location">
        </div>
        <div class="col-4 my-2">
          <label for="hn1"><strong>HN1</strong></label>
          <input name="hn1" id="hn1" class="form-control" placeholder="HN1">
        </div>
      </div>
      <div class="row">
        <div class="col-4 my-2">
          <label for="hn2"><strong>HN2</strong></label>
          <input name="hn2" id="hn2" class="form-control" placeholder="HN2">
        </div>
      </div>
</div>