<div class="container collapse mt-3 shadow" id="warnings">
    <div class="row">
        <h1 class="mt-2">Warnings</h1>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger alert-dismissible fade show d-flex justify-content-between" role="alert">
                <div>
                    <strong>Error</strong>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, qui.</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <button class="btn btn-success" type="submit">Okay</button> 
                </div>
            </div>
            <div class="alert alert-warning alert-dismissible fade show d-flex justify-content-between" role="alert">
                <div>
                    <strong>Warning</strong>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, qui.</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <button class="btn btn-success" type="submit">Okay</button> 
                </div>
            </div>
            <div class="alert alert-dark alert-dismissible fade show d-flex justify-content-between" role="alert">
                <div>
                    <strong>Info</strong>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, qui.</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <button class="btn btn-success" type="submit">Okay</button> 
                </div>
            </div>
        </div>
    </div>
</div>