<style>
.comp-rights .fas {
    font-size: 2rem;
}

.comp-rights-box {
    padding: 10px;
    background-color: rgb(234, 235, 233);
}

.first-row {
    background-color: rgba(0, 132, 255, 0.219);
    border-radius: 5px 5px 0 0;
}

.row-hover {
    transition: .2s;
}

.row-hover:hover {
    background-color: rgba(0, 0, 0, 0.151);
}

</style>

<!-- Tabs and Intro -->
<div class="comp-rights container-fluid container-md mt-5">
    <div class="row">
        <div class="col d-flex mb-4">
            <h3>User role rights assignment</h3>
            <i class="fas fa-balance-scale-right mx-2"></i>
        </div>
   </div>
   <div class="row">
        <div class="col-12 font-reduction">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Report users</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Admin users</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Warning users</a>
                </li>
              </ul>
        </div>
   </div>
</div>

<!-- User Role Rights Assignment -->
<div class="container-fluid container-md comp-rights-box my-5 pt-0 rounded">
    <div class="row mb-3 py-2 first-row">
        <div class="col-2">
        </div>
        <div class="col-2">
        </div>
        <div class="col-4 text-center">
            <h6>Regular user</h6>
        </div>
        <div class="col-4 text-center">
            <h6>Manager</h6>
        </div>
    </div>
    <!-- Data Display -->
    <div class="row px-2 py-1 row-hover">
        <div class="col-2">
            <h5>RA1</h5>
        </div>
        <div class="col-2">
            <h6>use case 1</h6>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <select class="form-select w-100" style="max-width: 100px;" aria-label="Default select example">
                <option value="0" selected>NO</option>
                <option value="1">YES</option>
            </select>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <select class="form-select w-100" style="max-width: 100px;" aria-label="Default select example">
                <option value="0" selected>NO</option>
                <option value="1">YES</option>
            </select>
        </div>
    </div>

    <!-- All Bellow Can Be Deleted In Real App -->
    <hr class="my-2">
    <div class="row px-2 py-1 row-hover">
        <div class="col-2">
            <h5>RA2</h5>
        </div>
        <div class="col-2">
            <h6>use case 1</h6>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <select class="form-select w-100" style="max-width: 100px;" aria-label="Default select example">
                <option value="0" selected>NO</option>
                <option value="1">YES</option>
            </select>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <select class="form-select w-100" style="max-width: 100px;" aria-label="Default select example">
                <option value="0" selected>NO</option>
                <option value="1">YES</option>
            </select>
        </div>
    </div>
    <hr class="my-2">
    <div class="row px-2 py-1 row-hover">
        <div class="col-2">
            <h5>RA2</h5>
        </div>
        <div class="col-2">
            <h6>use case 2</h6>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <select class="form-select w-100" style="max-width: 100px;" aria-label="Default select example">
                <option value="0" selected>NO</option>
                <option value="1">YES</option>
            </select>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <select class="form-select w-100" style="max-width: 100px;" aria-label="Default select example">
                <option value="0" selected>NO</option>
                <option value="1">YES</option>
            </select>
        </div>
    </div>
    <hr class="my-2">
    <div class="row px-2 py-1 row-hover">
        <div class="col-2">
            <h5>RA3</h5>
        </div>
        <div class="col-2">
            <h6>use case 1</h6>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <select class="form-select w-100" style="max-width: 100px;" aria-label="Default select example">
                <option value="0" selected>NO</option>
                <option value="1">YES</option>
            </select>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <select class="form-select w-100" style="max-width: 100px;" aria-label="Default select example">
                <option value="0" selected>NO</option>
                <option value="1">YES</option>
            </select>
        </div>
    </div>
    <hr class="my-2">
    <div class="row px-2 py-1 row-hover">
        <div class="col-2">
            <h5>RA4</h5>
        </div>
        <div class="col-2">
            <h6>use case 1</h6>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <select class="form-select w-100" style="max-width: 100px;" aria-label="Default select example">
                <option value="0" selected>NO</option>
                <option value="1">YES</option>
            </select>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <select class="form-select w-100" style="max-width: 100px;" aria-label="Default select example">
                <option value="0" selected>NO</option>
                <option value="1">YES</option>
            </select>
        </div>
    </div>
    <hr class="my-2">
    <div class="row px-2 py-1 row-hover">
        <div class="col-2">
            <h5>RA5</h5>
        </div>
        <div class="col-2">
            <h6>use case 1</h6>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <select class="form-select w-100" style="max-width: 100px;" aria-label="Default select example">
                <option value="0" selected>NO</option>
                <option value="1">YES</option>
            </select>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <select class="form-select w-100" style="max-width: 100px;" aria-label="Default select example">
                <option value="0" selected>NO</option>
                <option value="1">YES</option>
            </select>
        </div>
    </div>
    <hr class="my-2">
    <div class="row px-2 py-1 row-hover">
        <div class="col-2">
            <h5>RA6</h5>
        </div>
        <div class="col-2">
            <h6>use case 1</h6>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <select class="form-select w-100" style="max-width: 100px;" aria-label="Default select example">
                <option value="0" selected>NO</option>
                <option value="1">YES</option>
            </select>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <select class="form-select w-100" style="max-width: 100px;" aria-label="Default select example">
                <option value="0" selected>NO</option>
                <option value="1">YES</option>
            </select>
        </div>
    </div>
    <hr class="my-2">
    <div class="row px-2 py-1 row-hover">
        <div class="col-2">
            <h5>RA7</h5>
        </div>
        <div class="col-2">
            <h6>use case 1</h6>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <select class="form-select w-100" style="max-width: 100px;" aria-label="Default select example">
                <option value="0" selected>NO</option>
                <option value="1">YES</option>
            </select>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <select class="form-select w-100" style="max-width: 100px;" aria-label="Default select example">
                <option value="0" selected>NO</option>
                <option value="1">YES</option>
            </select>
        </div>
    </div>
    <hr class="my-2">
    <div class="row px-2 py-1 row-hover">
        <div class="col-2">
            <h5>RA8</h5>
        </div>
        <div class="col-2">
            <h6>use case 1</h6>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <select class="form-select w-100" style="max-width: 100px;" aria-label="Default select example">
                <option value="0" selected>NO</option>
                <option value="1">YES</option>
            </select>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <select class="form-select w-100" style="max-width: 100px;" aria-label="Default select example">
                <option value="0" selected>NO</option>
                <option value="1">YES</option>
            </select>
        </div>
    </div>
    <hr class="my-2">
    <div class="row px-2 py-1 row-hover">
        <div class="col-2">
            <h5>RA9</h5>
        </div>
        <div class="col-2">
            <h6>use case 1</h6>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <select class="form-select w-100" style="max-width: 100px;" aria-label="Default select example">
                <option value="0" selected>NO</option>
                <option value="1">YES</option>
            </select>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <select class="form-select w-100" style="max-width: 100px;" aria-label="Default select example">
                <option value="0" selected>NO</option>
                <option value="1">YES</option>
            </select>
        </div>
    </div>
    <hr class="my-2">
    <div class="row px-2 py-1 row-hover">
        <div class="col-2">
            <h5>RA5</h5>
        </div>
        <div class="col-2">
            <h6>use case 2</h6>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <select class="form-select w-100" style="max-width: 100px;" aria-label="Default select example">
                <option value="0" selected>NO</option>
                <option value="1">YES</option>
            </select>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <select class="form-select w-100" style="max-width: 100px;" aria-label="Default select example">
                <option value="0" selected>NO</option>
                <option value="1">YES</option>
            </select>
        </div>
    </div>
</div>